div.header{
	background: #43D1AF;
	color: #fff;
	height: 150px;
	margin-bottom: 5px;
}
div.headerContent{
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3.0vw;
}