table.results{
	width: 100%;
    padding: 5px;
    background: #F7F7F7;
    font-size: 0.9vw;
}

table.results thead tr th{
	background: #43D1AF;
    padding: 5px 0;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
table.results tbody tr td{
	padding-top: 2px;
	padding-bottom: 2px;
}
table.results tbody tr:hover{
	background: #2EBC99;
}
table.results a,
table.results a:link,
table.results a:visited,
table.results a:hover,
table.results a:active{
	text-decoration: none;
	color: #000;
}