@import url("menu.css");
@import url("header.css");
@import url("form.css");
@import url("results.css");
@import url("details.css");
@import url("tooltip.css");
body{
	font-family: 'Raleway', sans-serif;
	color: #333;
	font-size: 11pt;
	font-size: 1.1vw;
}
a.button {
	text-decoration: none;
	background-color: #43D1AF;
    color: #fff;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
	
	padding: 10px 20px 10px 20px;
	font-size: 1.0vw;
	display:inline-block;
	min-width: 200px;
	text-align: center;

}
a.button:hover{
	background: #2EBC99;
}