<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>cryotoManager::Coin::Sync CMC Coins</title>
	
	<!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    
    <link href="/css/bootstrap_fixes.css" rel="stylesheet">
    
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	
	<nav class="navbar navbar-inverse" id="menuHodler">
		
	</nav>

	
	<div class="container">
		<div class="page-header">
			<h1>Sync CoinMarketCap Coins</h1>
		</div>
		<p class="lead">This page let's you sync the CMC coins. You can add a new coin <a href="/coin/add">here</a>.</p>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>CoinMarketCap ID</th>
					<th>Name</th>
					<th>Symbol</th>
					<th>Synchronized</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cmcCoin : ${cmcCoins}">
					<td th:text="${cmcCoin.id}">id</td>
					<td th:text="${cmcCoin.name}">value</td>
					<td th:text="${cmcCoin.symbol}">value</td>
					<td>

						<span th:if="${cmcCoin.synced}" class="glyphicon glyphicon-ok-circle"></span>
						<span th:unless="${cmcCoin.synced}" class="glyphicon glyphicon-remove-circle"></span>
					</td>
				</tr>
			</tbody>
		
		</table>
		
      
    </div>
    
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/loadMenu.js"></script>

</body>
</html>