<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>cryotoManager::Coin::Chart</title>
	
	<!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    
    <link href="/css/bootstrap_fixes.css" rel="stylesheet">
    
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript" th:inline="javascript">
		    /*<![CDATA[*/
				google.charts.load('current', {'packages':['corechart'], language:'nl'});
	      		google.charts.setOnLoadCallback(drawChart);
				var rows = [];
				var header = ['Date', 'value'];
				rows.push(header);

				function drawChart() {
				    var theList = [[${coinValues}]]
					    for (i = 0; i < theList.length; i++) {
					        
					        var date = new Date(theList[i]['requestDate']);
			
					        var value = theList[i]['value'];
			
					        var row = [date, value];
					        rows.push(row);
					        
					    }
				    
					var data = google.visualization.arrayToDataTable(rows);

	
					var options = {
						title: [[${coin.coinMarketCapCoin.name}]] + ' value over time',
						height: 500,
						
						curveType: 'function',
						legend: {
							position: 'none'
						},
						pointSize: 1,
			        };
	
					var chart = new google.visualization.LineChart(document.getElementById('chart'));
	
			        chart.draw(data, options);
				}
		
		    /*]]>*/
		</script>
    
    
    
</head>
<body>
	
	<nav class="navbar navbar-inverse" id="menuHodler">
		
	</nav>

	
	<div class="container">
		<div class="page-header">
			<h1 th:text="${coin.coinMarketCapCoin.name}">coin</h1>
		</div>
		<p class="lead">See the value for this the coin over time. Return to the details page by clicking <a th:href="@{/coin/details/{id}(id=${coinId})}">here</a>.</p>
		
		
		<form action="#" method="get">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td><label for="lastHours">Period:</label></td>
						<td>
							<select name="lastHours" id="lastHours" class="form-control">
								<option th:each="hourOption : ${hourOptions}" 
								th:value="${hourOption.value}" th:text="${hourOption.text}"
								th:selected="(${hourOption.value} == *{lastHours})">address (coinName)</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><label for="intervalInMinutes">Interval:</label></td>
						<td>
							<select name="intervalInMinutes" id="intervalInMinutes" class="form-control">
								<option th:each="minuteOption : ${minuteOptions}" 
								th:value="${minuteOption.value}" th:text="${minuteOption.text}"
								th:selected="(${minuteOption.value} == *{intervalInMinutes})">address (coinName)</option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2"><button type="submit" class="btn btn-primary">Generate chart</button></td>
					</tr>
					
				</tbody>
			</table>
		</form>
		
		<div id="chart"></div>
		
		
    </div>
    
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/loadMenu.js"></script>
    <script src="/js/autoSelectInterval.js"></script>

</body>
</html>
