<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>cryotoManager::Coin::Details</title>
	
	<!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    
    <link href="/css/bootstrap_fixes.css" rel="stylesheet">
    
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	
	<nav class="navbar navbar-inverse" id="menuHodler">
		
	</nav>

	
	<div class="container">
		<div class="page-header">
			<h1 th:text="${coin.coinMarketCapCoin.name}">Coin details</h1>
		</div>
		<p class="lead">This page shows the details for the coin '<span th:text="${coin.coinMarketCapCoin.name}">name</span>'.</p>
		
		<p>
			<a href="/coin/results" class="btn btn-info" role="button"><span class="glyphicon glyphicon-list"></span> Return to list</a>
		</p>
		
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>Coin name:</td>
					<td th:text="${coin.coinMarketCapCoin.name}">name</td>
				</tr>
				<tr>
					<td>Symbol:</td>
					<td th:text="${coin.coinMarketCapCoin.symbol}">symbol</td>
				</tr>
				<tr>
					<td>ID:</td>
					<td th:text="${coin.coinMarketCapCoin.id}">id</td>
				</tr>
				<tr>
					<td>Current value:</td>
					<td th:utext="${currency.currencySymbol + ' ' + #numbers.formatDecimal(coin.currentCoinValue, 1, 'POINT', 2, 'COMMA')}">currentValue</td>
				</tr>
			</tbody>
		</table>
		
		<p>
			<a th:href="@{/coin/chart/{id}(id=${coinId})}" class="btn btn-info" role="button"><span class="glyphicon glyphicon-stats"></span> Show chart</a>
			
		</p>

		
		
    </div>
    
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/loadMenu.js"></script>

</body>
</html>
