<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add coin</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Add coin</h1>
		<form action="#" th:action="@{/coin/coins}" th:object="${coin}"
			method="post">
			<table>
				<thead>
					<tr>
						<th colspan="2">Add coin form</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Coin name:</td>
						<td><input type="text" th:field="*{coinName}" /></td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><input type="text" th:field="*{description}" /></td>
					</tr>
					<tr>
						<td colspan="2"><button type="submit">Submit</button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</body>
</html>