<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add coin</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
		<link href="/css/style.css" rel="stylesheet" />
		<script src="/js/jquery-3.2.1.min.js"></script>
	</head>
	<body>
		<form action="#" th:action="@{/coin/add}" th:object="${coin}"
			method="post">
			<table class="form">
				<thead>
					<tr>
						<th colspan="2">Add coin</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Coin name:</td>
						<td><input type="text" th:field="*{coinName}" /></td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><input type="text" th:field="*{description}" /></td>
					</tr>
					<tr>
						<td colspan="2"><button type="submit">Submit</button></td>
					</tr>
				</tbody>
			</table>
		</form>
		<script src="/js/LoadMenu.js"></script>
		<script src="/js/LoadHeader.js"></script>
	</body>
</html>