<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Deposits</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
		<link href="/css/style.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<script src="/js/jquery-3.2.1.min.js"></script>
	</head>
	<body>
		<!-- 
			Create filter form
		 -->
		<form action="" method="GET">
			<table class="form">
				<thead>
					<tr>
						<th colspan="2">Filter deposits</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Date:</td>
						<td>
							<input type="date" id="filterDate" name="filterDate" />
						</td>
					</tr>
					<tr>
						<td>Coin:</td>
						<td>
							<select th:field="*{coin}" required="required">
								<option value="">-Select coin-</option>
								<option th:each="coin : ${coinList}" th:value="${coin.id}" th:text="${coin.coinMarketCapCoin.symbol + ' (' + coin.coinMarketCapCoin.name + ')'}">symbol (name)</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Wallet:</td>
						<td>
							<select th:field="*{wallet}" required="required">
								<option value="">-Select wallet-</option>
								<option th:each="wallet : ${walletList}" th:value="${wallet.id}" th:text="${wallet.address + ' (' + wallet.coin.coinMarketCapCoin.symbol + ')'}">address (coinName)</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Portfolio:</td>
						<td>
							<select th:field="*{portfolio}" required="required">
								<option value="">-Select portfolio-</option>
								<option th:each="portfolio : ${portfolioList}" th:value="${portfolio.id}" th:text="${portfolio.name}">name</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table> 
		</form>
		<script src="/js/LoadMenu.js"></script>
		<script src="/js/LoadHeader.js"></script>
	</body>
</html>