<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add deposit</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
		<link href="/css/style.css" rel="stylesheet" />
		<script src="/js/jquery-3.2.1.min.js"></script>
	</head>
	<body>
		<form action="#" th:action="@{/deposit/delete}" method="post">
			<input type="hidden" name="deposit" id="deposit" th:value="${deposit.id}" />
			<table class="form">
				<thead>
					<tr>
						<th colspan="2">Confirm delete deposit</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Deposit date:</td>
						<td th:text="${#dates.format(deposit.depositDate, 'dd-MM-yyyy')}">depositDate</td>
					</tr>
					<tr>
						<td>Wallet:</td>
						<td th:text="${deposit.wallet.address}">address</td>
					</tr>
					<tr>
						<td>Amount:</td>
						<td th:text="${#numbers.formatDecimal(deposit.amount, 1, 'POINT', 8, 'COMMA')}">amount</td>
					</tr>
					<tr>
						<td>Value on purchase:</td>
						<td th:text="${'€ ' + #numbers.formatDecimal(deposit.purchaseValue, 1, 'POINT', 2, 'COMMA')}">purchaseValue</td>
					</tr>
					<tr>
						<td>Remarks:</td>
						<td th:text="${deposit.remarks}">remarks</td>
					</tr>
					<tr><td colspan="2">&nbsp;</td></tr>
					<tr>
						<td>Delete:</td>
						<td>
							<div class="checkboxDiv">

								<input type="checkbox" name="confirmDelete" id="confirmDelete" value="true"/>
								<label for="confirmDelete"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2"><button type="submit">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</form>
		<script src="/js/LoadMenu.js"></script>
		<script src="/js/LoadHeader.js"></script>
	</body>
</html>