<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>cryotoManager::Export transactions</title>
	
	<!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/bootstrap_fixes.css" rel="stylesheet">
	

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	
	<nav class="navbar navbar-inverse" id="menuHodler">
		
	</nav>

	
	<div class="container">
		<div class="page-header">
			<h1>Export transactions</h1>
		</div>
		<p class="lead">This page let's you download the transactions for <strong>all</strong> your portfolio's.</p>
		
		<div class="panel panel-default">
			<div class="panel-heading">
	    			<h3 class="panel-title">Download file</h3>
	  		</div>
	  		<div class="panel-body">
		  		<form action="#" th:action="@{/transaction/export}" enctype="multipart/form-data" method="post">
					
					<label for="name">Field separator</label>
					<div class="form-group">
					  	<input type="text" class="form-control" name="separator" id="separator" required="required" value=";"/>
					</div>
					
					 <div class="form-check">
					    <label class="form-check-label">
					      <input type="checkbox" name="containsHeader" id="containsHeader" class="form-check-input">
					      Include headers?
					    </label>
					  </div>
					  
					
					<button type="submit" class="btn btn-primary">Export</button>
							
				</form>
			</div>
	  	</div>
		
		
      
    </div>
    
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/loadMenu.js"></script>

</body>
</html>