<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Coin chart</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
		<link href="/css/style.css" rel="stylesheet" />
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		
	</head>
	<body>
		<p>
			<a th:href="@{/portfolio/showPortfolio/{id}(id=${portfolioId})}" class="button">Back to portfolio details</a>
			<a href="/portfolio/results" class="button">Back to portfolios</a>
		</p>
		
		<form action="#" id="chartCreatorForm">
			<input type="hidden" name="portfolioId" id="portfolioId" th:value="${portfolioId}" /> 
			<table class="form chart_table">
				<thead>
					<tr>
						<th colspan="3">Generate chart</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Chart type:</td>
						<td>
							<select name="chartType" id="chartType">
								<optgroup label="Area chart(s)">
									<option value="areaChart_portfolio_value">Portfolio value over time</option>
								</optgroup>
								<optgroup label="Pie chart(s)">
									<option value="pieChart_portfolio_distribution">Distribution portfolio value</option>
								</optgroup>
								<optgroup label="Line chart(s)">
									<option value="lineChart_portfolio_roi">Portfolio ROI over time</option>
								</optgroup>
							</select>
						</td>
						<td rowspan="4" id="chartHolder" class="chartHolder">
							Chart here
						</td>
					</tr>
					<tr>
						<td class="autoFit">Period:</td>
						<td>
							<select name="lastHours" id="lastHours">
								<option th:each="hourOption : ${hourOptions}" 
								th:value="${hourOption.value}" th:text="${hourOption.text}"
								th:selected="(${hourOption.value} == *{lastHours})">number of hours</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="autoFit">Interval:</td>
						<td>
							<select name="intervalInMinutes" id="intervalInMinutes">
								<option th:each="minuteOption : ${minuteOptions}" 
								th:value="${minuteOption.value}" th:text="${minuteOption.text}"
								th:selected="(${minuteOption.value} == *{intervalInMinutes})">interval</option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2"><button type="button" id="generateChartButton">Generate</button></td>
					</tr>
				</tbody>
			</table>
		</form>
		
		<script src="/js/LoadMenu.js"></script>
		<script src="/js/LoadHeader.js"></script>
		<script src="/js/autoSelectInterval.js"></script>
		<script src="/js/chartCreator.js"></script>
	</body>
</html>