<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>cryotoManager::Wallet::Add</title>
	
	<!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/bootstrap_fixes.css" rel="stylesheet">
	

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	
	<nav class="navbar navbar-inverse" id="menuHodler">
		
	</nav>

	
	<div class="container">
		<div class="page-header">
			<h1>Add a wallet</h1>
		</div>
		<p class="lead">With this page you can link a wallet to a portfolio. </p>
		
		<p>
			<a th:href="@{/wallet/details/{id}(id=${wallet.id})}" class="btn btn-info" role="button"><span class="glyphicon glyphicon-zoom-in"></span> Return to details</a>
			<a href="/wallet/results" class="btn btn-info" role="button"><span class="glyphicon glyphicon-list"></span> Return to list</a>
		</p>
		
		<div class="panel panel-default">
			<div class="panel-heading">
	    			<h3 class="panel-title">Add wallet</h3>
	  		</div>
	  		<div class="panel-body">
		  		<form action="#" th:action="@{/wallet/edit/{id}(id=${wallet.id})}" th:object="${wallet}" method="post">
					
					<label for="coin">Coin</label>
					<div class="form-group">
			    			<select th:field="*{coin}" required="required" class="form-control">
							<option value="">-Select coin-</option>
							<option th:each="coin : ${coinList}" th:value="${coin.id}" th:text="${coin.coinMarketCapCoin.symbol + ' (' + coin.coinMarketCapCoin.name + ')'}">symbol (name)</option>
						</select>
			    		</div>
					<br/>
					
					<label for="portfolio">Portfolio</label>
					<div class="form-group">
			    			<select th:field="*{portfolio}" required="required" class="form-control">
							<option value="">-Select portfolio-</option>
							<option th:each="portfolio : ${portfolioList}" th:value="${portfolio.id}" th:text="${portfolio.name}">name</option>
						</select>
			    		</div>
					<br/>
					
					<label for="name">Wallet address</label>
					<div class="input-group">
						<span class="input-group-addon" id="namePrefix"><span class="glyphicon glyphicon-tag"></span></span>
					  	<input type="text" class="form-control" th:field="*{address}"  aria-describedby="namePrefix"/>
					</div>
					<br/>
					
					<label for="description">Description</label>
					<div class="input-group">
						<span class="input-group-addon" id="remarksPrefix"><span class="glyphicon glyphicon-pushpin"></span></span>
					  	<input type="text" class="form-control" th:field="*{description}" aria-describedby="remarksPrefix"/>
					</div>
					<br />
					
					<button type="submit" class="btn btn-warning">Update</button>
				</form>
			</div>
	  	</div>
		
		
      
    </div>
    
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/loadMenu.js"></script>

</body>
</html>