<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add Wallet</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
		<link href="/css/style.css" rel="stylesheet" />
		<script src="/js/jquery-3.2.1.min.js"></script>
	</head>
	<body>
		<form action="#" th:action="@{/wallet/add}" th:object="${wallet}"
			method="post">
			<table class="form">
				<thead>
					<tr>
						<th colspan="2">Add wallet</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Coin:</td>
						<td>
							<select th:field="*{coin}" required="required">
								<option value="">-Select coin-</option>
								<option th:each="coin : ${coinList}" th:value="${coin.id}" th:text="${coin.coinName + ' (' + coin.description + ')'}">coinName (description)</option>
							</select>
						</td>
					</tr>
					
					<tr>
						<td>Portfolio:</td>
						<td>
							<select th:field="*{portfolio}" required="required">
								<option value="">-Select portfolio-</option>
								<option th:each="portfolio : ${portfolioList}" th:value="${portfolio.id}" th:text="${portfolio.name}">name</option>
							</select>
						</td>
					</tr>

					<tr>
						<td>Wallet address:</td>
						<td><input type="text" th:field="*{address}" /></td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><input type="text" th:field="*{description}" /></td>
					</tr>
					<tr>
						<td colspan="2"><button type="submit">Submit</button></td>
					</tr>

				</tbody>
			</table>
		</form>
		<script src="/js/LoadMenu.js"></script>
		<script src="/js/LoadHeader.js"></script>
	</body>
</html>