<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>cryotoManager::Wallet::Details</title>
	
	<!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    
    <link href="/css/bootstrap_fixes.css" rel="stylesheet">
    
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	
	<nav class="navbar navbar-inverse" id="menuHodler">
		
	</nav>

	
	<div class="container">
		<div class="page-header">
			<h1>Wallet details</h1>
		</div>
		<p class="lead">See the details for wallet '<span th:text="${wallet.address}">name</span>'.</p>
		
		<p>
			<a href="/wallet/results" class="btn btn-info" role="button"><span class="glyphicon glyphicon-list"></span> Return to list</a>
		</p>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th colspan="2">Wallet details</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="20%">Address:</td>
					<td th:text="${wallet.address}">walletAddress</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td th:text="${wallet.description}">description</td>
				</tr>
				<tr>
					<td>Portfolio:</td>
					<td th:text="${wallet.portfolio.name}">portfolioName</td>
				</tr>
				<tr>
					<td>Coin:</td>
					<td th:text="${wallet.coin.coinMarketCapCoin.symbol}">coinName</td>
				</tr>
			</tbody>
		</table>
		<table class="table table-striped">
			<thead>
				<tr>
					<th colspan="2">Values</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="20%">Current balance:</td>
					<td th:text="${#numbers.formatDecimal(wallet.currentWalletAmount, 1, 'POINT', 8, 'COMMA')}">currentBalance</td>
				</tr>
				<tr>
					<td>Current value:</td>
					<td th:utext="${currency.currencySymbol + ' ' + #numbers.formatDecimal(wallet.currentWalletValue, 1, 'POINT', 2, 'COMMA')}">currentValue</td>
				</tr>
				<tr>
					<td>Total deposited:</td>
					<td th:utext="${currency.currencySymbol + ' ' + #numbers.formatDecimal(wallet.currentWalletDeposited, 1, 'POINT', 2, 'COMMA')}">totalDeposited</td>
				</tr>
				<tr>
					<td>Total withdrawn:</td>
					<td th:utext="${currency.currencySymbol + ' ' + #numbers.formatDecimal(wallet.currentWalletWithdrawn, 1, 'POINT', 2, 'COMMA')}">totalWithdrawn</td>
				</tr>
				<tr>
					<td>Investment:</td>
					<td th:utext="${currency.currencySymbol + ' ' + #numbers.formatDecimal(wallet.currentWalletInvestment, 1, 'POINT', 2, 'COMMA')}">totalInvested</td>
				</tr>
				<tr>
					<td>Profit/Loss:</td>
					<td class="profitLoss" th:utext="${currency.currencySymbol + ' ' + #numbers.formatDecimal(wallet.currentWalletProfitLoss, 1, 'POINT', 2, 'COMMA')}">profitLoss</td>
				</tr>
			</tbody>
		</table>
		
		<p>
			<a th:href="@{/wallet/chart/{id}(id=${wallet.id})}" class="btn btn-info" role="button"><span class="glyphicon glyphicon-stats"></span> Show chart</a>
			<a th:href="@{/wallet/edit/{id}(id=${wallet.id})}" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
			<button class="btn btn-danger" role="button" id="deleteWalletButton"><span class="glyphicon glyphicon-trash"></span> Delete</button>
		</p>
		
		<form action="#" th:action="@{/wallet/delete/{id}(id=${wallet.id})}" method="post">
			<input type="checkbox" name="confirmDelete" id="confirmDelete" value="true" style="display: none;"/>
			<button type="submit" id="actualDeleteButton" style="display: none;">Hidden button</button>
		</form>
		
		<div class="page-header">
			<h2>Transactions</h2>
		</div>
		<p class="lead">Transactions for this wallet.</p>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Transaction type</th>
					<th>Amount</th>
					<th>Deposit value</th>
					<th>Current value</th>
					<th>Difference</th>
					<th>Remarks</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="transaction : ${transactions}">
					<td th:text="${#dates.format(transaction.transactionDate, 'dd-MM-yyyy')}">depositDate</td>
					<td th:text="${transaction.transactionType.type}">type</td>
					<td th:utext="${#numbers.formatDecimal(transaction.amount, 1, 'POINT', 8, 'COMMA')}">amount</td>
					<td th:utext="${currency.currencySymbol + ' ' + #numbers.formatDecimal(transaction.value, 1, 'POINT', 2, 'COMMA')}">purchaseValue</td>
					<td th:utext="${currency.currencySymbol + ' ' + #numbers.formatDecimal(transaction.currentValue, 1, 'POINT', 2, 'COMMA')}">currentDepositValue</td>
					<td class="profitLoss" th:utext="${currency.currencySymbol + ' ' + #numbers.formatDecimal(transaction.currentDifference, 1, 'POINT', 2, 'COMMA')}">currentDepositDifference</td>
					<td th:text="${transaction.remarks}">remarks</td>
				</tr>
			</tbody>
		</table>
		
		
		
		
    </div>
    
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/loadMenu.js"></script>
    <script src="/js/profitLossFix.js"></script>
	
	<script type="text/javascript">
	    $('#deleteWalletButton').click(function(){
			
			if (confirm('Are you sure you want to delete this wallet? This will also delete the deposits and withdrawals.')) {
				$('#confirmDelete').prop('checked', true);
				$('#actualDeleteButton').trigger('click');
			}
			
		});
    </script>
	
</body>
</html>
