<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Wallet chart</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
		<link href="/css/style.css" rel="stylesheet" />
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript" th:inline="javascript">
		    /*<![CDATA[*/
				google.charts.load('current', {'packages':['corechart'], language:'nl'});
	      		google.charts.setOnLoadCallback(drawChart);
				var rows = [];
				var header = ['Date', 'Total invested', 'Value'];
				rows.push(header);

				function drawChart() {
				    var theList = [[${walletChartLines}]]
					    for (i = 0; i < theList.length; i++) {
					        
					        var date = new Date(theList[i]['date']);
					        var totalDepositValue = theList[i]['totalDepositValue'];
					        var value = theList[i]['value'];
			
					        var row = [date, totalDepositValue, value];
					        rows.push(row);
					        
					    }
				    
					var data = google.visualization.arrayToDataTable(rows);

	
					var options = {
						title: 'value for ' + [[${walletAddress}]] + ' (' + [[${coinName}]] + ') over time',
						height: 500,
						curveType: 'function',
						legend: {
							position: 'bottom'
						},
						pointSize: 1,
			        };
	
					var chart = new google.visualization.LineChart(document.getElementById('chart'));
	
			        chart.draw(data, options);
				}
		
		    /*]]>*/
		</script>
	</head>
	<body>
		<p>
			<a th:href="@{/wallet/showWallet/{id}(id=${walletId})}" class="button">Back to wallet details</a>
			<a href="/wallet/results" class="button">Back to wallets</a>
		</p>
		<form action="#" method="get">
			<table class="single_line_form">
				<thead>
					<tr>
						<th colspan="5">Change chart</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="autoFit">Period:</td>
						<td>
							<select name="lastHours" id="lastHours">
								<option th:each="hourOption : ${hourOptions}" 
								th:value="${hourOption.value}" th:text="${hourOption.text}"
								th:selected="(${hourOption.value} == *{lastHours})">address (coinName)</option>
							</select>
						</td>
						<td class="autoFit">Interval:</td>
						<td>
							<select name="intervalInMinutes" id="intervalInMinutes">
								<option th:each="minuteOption : ${minuteOptions}" 
								th:value="${minuteOption.value}" th:text="${minuteOption.text}"
								th:selected="(${minuteOption.value} == *{intervalInMinutes})">address (coinName)</option>
							</select>
						</td>
						<td class="autoFit"><button type="submit">Update</button></td>
					</tr>
				</tbody>
			</table>
		</form>
		<div id="chart"></div>
		<script src="/js/LoadMenu.js"></script>
		<script src="/js/LoadHeader.js"></script>
		<script src="/js/autoSelectInterval.js"></script>
	</body>
</html>